<div class="row" ng-app="app" ng-controller="appController as Ac" ng-cloak>
    <div class="col-md-3">
        <h2>Login</h2>
        <form>
            <div class="form-group">
                <label for="userNameInput">User Name</label>
                <input type="text" class="form-control" id="userNameInput" placeholder="user name" ng-model="Ac.userName">
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Password" ng-model="Ac.password">
            </div>

            <button class="btn btn-info" ng-click="Ac.getToken()">Get Token</button>
        </form>
    </div>
    <div class="col-md-5">
        <h2>Actions</h2>
        <div class="row">
            <div class="custom-row">
                <h4>Token</h4>
                <div class="form-group">
                    <input type="text" id="tokenInput" class="form-control" ng-model="Ac.token">
                </div>
            </div>
            <div class="custom-row">
                <h4>Get All Products</h4>
                <div>
                    <button class="btn btn-info" ng-click="Ac.getProducts()">Get Products</button>
                </div>
            </div>
            <div class="custom-row">
                <h4 >Find Product Id</h4>
                <div class="form-group">
                    <input type="text" id="productIdInput" class="form-control" ng-model="Ac.productId">
                </div>
                <button class="btn btn-info" ng-click="Ac.getProductById()">Get Product By Id</button>
            </div>
            <div class="custom-row">
                <h4 >Find Product By Description,Mode,Brand</h4>
                <div class="form-group">
                    <input type="text" placeholder="description" class="form-control" ng-model="Ac.description">
                    <input type="text" placeholder="model" class="form-control" ng-model="Ac.model"/>
                    <input type="text" placeholder="brand" class="form-control" ng-model="Ac.brand"/>
                </div>
                <button class="btn btn-info" ng-click="Ac.getProductByFilter()">Filter Product</button>
            </div>
            <div class="custom-row">
                <h4>Add Product</h4>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputId" class="col-sm-2 control-label">Id</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputId" placeholder="Id" ng-model="Ac.product.id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDescription" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputDescription" placeholder="Description" ng-model="Ac.product.description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputModel" class="col-sm-2 control-label">Model</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputModel" placeholder="Model" ng-model="Ac.product.model">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBrand" class="col-sm-2 control-label">Brand</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputBrand" placeholder="Brand" ng-model="Ac.product.brand">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-default btn-info" ng-click="Ac.addNewProduct()">Add New Product</button>
                            <button class="btn btn-default btn-info" ng-click="Ac.updateProduct()">Update Product</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Product List</h2>
        {{Ac.data}}
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Model</th>
                <th>Brand</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in Ac.products">
                <td>{{product.id}}</td>
                <td>{{product.description}}</td>
                <td>{{product.model}}</td>
                <td>{{product.brand}}</td>
                <td><a ng-click="Ac.editProduct(product)">Edit</a> | <a ng-click="Ac.deleteProduct(product.id)">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/angular")
}